{% extends "base.html" %} {% load static %} {% load namify %} {% block content %}

<div class="bb-filter-nav nav-down">
  <span class="bb-filter-icon" onclick="openNav2()"><i class="fas fa-sliders-h"></i></span>

    <!--<div class="sortFilter">-->
    <!--<a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--<span class="bb-filter-icon-sort"><i class="fas fa-sort-amount-down"></i></span>-->
    <!--</a>-->
    <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="left: unset;right: 0;">-->
           <!--<form onchange="submit()">-->
           <!--{{ filter.form.sort}}-->
        <!--</form>-->
    <!--</div>-->
  <!--</div>-->

  <div class="bb-filter-dropdown-container">
    <div class="row bb-filter-row">

      <div>
        <form id="resetProduct">
          {{ filter.form.product }}
          <input class="btn btn-secondary dropdown-toggle bb-filter-dropdown-button bb-fullscreen-filter-button" type="submit" value="CLEAR" />
        </form>
      </div>

      <div>
        <div class="dropdown mainFilter">
          <button class="btn btn-secondary dropdown-toggle bb-filter-dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        BRAND
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form action="" method="get" >
              {{ filter.form.brand_name }}
          </div>
        </div>
      </div>

       <div>
        <div class="dropdown mainFilter">
          <button class="btn btn-secondary dropdown-toggle bb-filter-dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SHOP
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ filter.form.merchant_name }}
          </div>
        </div>
      </div>

      <div>
        <div class="dropdown mainFilter">
          <button class="btn btn-secondary dropdown-toggle bb-filter-dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        PRICE
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <p>{{ filter.form.search_price__gt }} (MIN) </p>
            <p>{{ filter.form.search_price__lt }} (MAX) </p>
          </div>
        </div>
      </div>
      <div>
        <div class="dropdown mainFilter">
          <button class="btn btn-secondary dropdown-toggle bb-filter-dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        COLOUR
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{ filter.form.colour}}
          </div>
        </div>
      </div>
      <div>
        <div class="dropdown mainFilter">
          <button class="btn btn-secondary dropdown-toggle bb-filter-dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        SALE
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{ filter.form.sale}}

          </div>
        </div>
      </div>


      {% if 'footwear' in request.path %}
              <div>
        <div class="dropdown mainFilter">
          <button class="btn btn-secondary dropdown-toggle bb-filter-dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SIZE
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ filter.form.size}}

          </div>
        </div>
      </div>
{% else %}
                    <div>
        <div class="dropdown mainFilter">
          <button class="btn btn-secondary dropdown-toggle bb-filter-dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SIZE
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ filter.form.clothing_size}}

          </div>
        </div>
      </div>
{% endif %}
        <div>
        <div class="dropdown mainFilter">
          <button class="btn btn-secondary dropdown-toggle bb-filter-dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SORT
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ filter.form.sort}}

          </div>
        </div>
      </div>

      <div>
        <input class="btn btn-secondary dropdown-toggle bb-filter-dropdown-button bb-fullscreen-filter-button mainFilter" type="submit" value="FILTER" />
        </form>
      </div>
    </div>
  </div>






</div>
<div id="mySidenav" class="sidenav">
  <span class="bb-undo-filter" onClick='submitResetForm()'><i class="fas fa-undo-alt"></i></span>
  <a class="closebtn"><span><i onclick="closeNav2()" class="fas fa-times "></i></span></a>
  <div class="bb-filter-container">

<!--<nav>-->
<!--  <ul>-->
<!--    <li class="has-children">-->
<!--      <a href="#">BRAND</a>-->
<!--      <ul>-->
<!--        <li><a href="#0">MENU</a></li>-->
<!--        <form></form>-->
<!--      </ul>-->
<!--    </li>-->

<!--    <li class="has-children">-->
<!--      <a href="#">PRICE</a>-->
<!--      <ul>-->
<!--        <li><a href="#0">MENU</a></li>-->
<!--        <form></form>-->
<!--      </ul>-->
<!--    </li>-->

<!--    <li class="has-children">-->
<!--      <a href="#">SIZE</a>-->
<!--      <ul>-->
<!--        <li><a href="#0">MENU</a></li>-->
<!--        <form></form>-->
<!--      </ul>-->
<!--    </li>-->

<!--    <li class="has-children">-->
<!--      <a href="#">COLOUR</a>-->
<!--      <ul>-->
<!--        <li><a href="#0">MENU</a></li>-->
<!--        <form></form>-->
<!--      </ul>-->
<!--    </li>-->

<!--    <li class="has-children">-->
<!--      <a href="#">SALE</a>-->
<!--      <ul>-->
<!--        <li><a href="#0">MENU</a></li>-->
<!--        <form></form>-->
<!--      </ul>-->
<!--    </li>-->

<!--  </ul>-->
<!--</nav>-->


    <div id="accordion" role="tablist" aria-multiselectable="true">

      <div class="row">
        <!--<div class="col-6" style="padding:0px">-->
          <!--<div class="card-header" id="bb-filter-header" role="tab">-->
            <!--<h5 class="mb-0">-->
              <!--<form action="" method="get" name="resetNav">-->
                <!--{{ filter.form.product }}-->
                <!--<input type="submit" class='btn bb-filter-sidenav-btn' />-->
              <!--</form>-->
            <!--</h5>-->


          <!--</div>-->
        <!--</div>-->
        <div class="col-12" style="padding:0px">
          <div class="card-header" id="bb-filter-header" role="tab">
            <h5 class="mb-0" style="text-align:center">
              <form action="" method="get">
                <input type="submit" class='btn bb-filter-sidenav-btn' value="APPLY" />
            </h5>
          </div>
        </div>
      </div>

      <div>
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <button class="btn bb-accordian-filter-btn" type="button" data-toggle="collapse" data-target="#collapseFilter1" aria-expanded="false" aria-controls="collapseFilter1">
                  BRAND <span class="bb-plus-dropdown-icon"><i style="color: #FFFFFF" class="fa fa-plus"></i></span>
                </button>
          </h5>
        </div>
        <div class="collapse" id="collapseFilter1">
          {{ filter.form.brand_name }}
        </div>
      </div>


      <div>
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn bb-accordian-filter-btn" type="button" data-toggle="collapse" data-target="#collapseFilter2" aria-expanded="false" aria-controls="collapseFilter2">
                  PRICE <span class="bb-plus-dropdown-icon"><i style="color: #FFFFFF" class="fa fa-plus"></i></span>
                </button>
          </h5>
        </div>
        <div class="collapse" id="collapseFilter2">
          <p>{{ filter.form.search_price__gt }} (MIN) </p>
          <p>{{ filter.form.search_price__lt }} (MAX) </p>
        </div>
      </div>


      <div>
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <button class="btn bb-accordian-filter-btn" type="button" data-toggle="collapse" data-target="#collapseFilter3" aria-expanded="false" aria-controls="collapseFilter3">
                  COLOUR <span class="bb-plus-dropdown-icon"><i style="color: #FFFFFF" class="fa fa-plus"></i></span>
                </button><span>
          </h5>
        </div>
        <div class="collapse" id="collapseFilter3">

          {{ filter.form.colour}}

        </div>
      </div>


    <div>
      <div class="card-header" role="tab" id="headingFour">
        <h5 class="mb-0">
          <button class="btn bb-accordian-filter-btn" type="button" data-toggle="collapse" data-target="#collapseFilter4" aria-expanded="false" aria-controls="collapseFilter4">
              SIZE <span class="bb-plus-dropdown-icon"><i style="color: #FFFFFF" class="fa fa-plus"></i></span>
            </button>
        </h5>
      </div>
      <div class="collapse" id="collapseFilter4">
        {{ filter.form.size }}
        </form>
      </div>
    </div>
    </div>
      <div>
      <!--<div class="card-header" role="tab" id="headingFour">-->
        <!--<h5 class="mb-0">-->
          <!--<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseFilter4" aria-expanded="false" aria-controls="collapseFilter4">-->
            <!--Size-->
          <!--</button>-->
        <!--</h5>-->
      <!--</div>-->
      <!--<div class="collapse" id="collapseFilter4">-->
          <!--<form action="" method="get">-->
            <!--{{ filter.form.sale }}-->
            <!--<input type="submit" />-->
          <!--</form>-->
      <!--</div>-->
    </div>
  </div>
</div>

<div class="container bb-category-container">
  <p style="color: #9E9E9E;"> {{total}} Products </p>
</div>

<div class="container-fluid bb-products-container">
  <div class="row">
    {% for product in products.object_list %}
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
      <a class="bb-product-link" style="text-decoration:none" href="{{ product.aw_deep_link }}" target="_blank">
      <div class="card text-center product-card">
        <div class="bb-product-img-container">
          <img class="card-img-top" src="{{ product.aw_image_url }}">
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-12 bb-product-name">
              <p class="bb-product-name-text">{{ product.product_name }}</p>
            </div>
            <div class="col-6 bb-search-price">
              <p class="bb-search-price-text">{{ currency }}{{ product.search_price }}</p>
            </div>
            <div class="col-6 bb-rrp-price">
              <p class="bb-rrp-price-text"><s> {{ currency }}{{ product.rrp_price }}</s></p>
            </div>
            <!--<div class="col-6 bb-rrp-price">-->
              <!--{% if product.rrp_price > 0 %}-->
              <!--<p class="bb-rrp-price-text"><s> {{ currency }}{{ product.rrp_price }}</s></p>-->
              <!--{% endif %}-->
            <!--</div>-->
            <div class="col-9 bb-merchant-name">
              <p class="bb-merchant-name-text">{{ product.merchant_name}}</p>
            </div>
            <div class="col-3" style="text-align:left">
              <span class="bb-eye-icon" onclick="location.href='{% url 'view_product_item' product.id %}'"><i class="fa fa-search-plus fa-sm"></i></span>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
    {% empty %}
    <div class="col-12">
      <h3 style="text-align:center;padding: 70px;">SORRY, NO PRODUCTS FOUND!</h3>
    </div>
    {% endfor %}
  </div>
</div>


<!--{% if products.has_other_pages %}-->
<!--<nav aria-label="Page navigation example">-->
<!--<ul class="pagination justify-content-center">-->
<!--  {% if products.has_previous %}-->
<!--  <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;</a></li>-->
<!--  {% else %}-->
<!--  <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>-->
<!--  {% endif %}-->
<!--  {% for i in products.paginator.page_range %}-->
<!--  {% if products.number == i %}-->
<!--  <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>-->
<!--  {% else %}-->
<!--  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>-->
<!--  {% endif %}-->
<!--  {% endfor %}-->
<!--  {% if products.has_next %}-->
<!--  <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">&raquo;</a></li>-->
<!--  {% else %}-->
<!--  <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>-->
<!--  {% endif %}-->
<!--</ul>-->
<!--</nav>-->
<!--{% endif %}-->


<!--{% if products.has_other_pages %}-->
<!--<nav aria-label="Page navigation example">-->
<!--  <ul class="pagination justify-content-center">-->
<!--    {% if products.has_previous %}-->
<!--    <a class="pagination-action" href="?page=1">-->
<!--     <i class="fa fa-angle-double-left" aria-hidden="true"></i>-->
<!--    </a>-->
<!--    <a class="pagination-action" href="?page={{ products.previous_page_number }}">-->
<!--      <i class="fa fa-angle-left" aria-hidden="true"></i>-->
<!--    </a> {% endif %} {% for num in products.paginator.page_range %} {% if products.number == num %}-->
<!--    <span class="pagination-number pagination-current">{{ num }}</span> {% elif num > products.number|add:'-3' and num-->
<!--    < products.number|add: '3' %} <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>-->
<!--      {% endif %} {% endfor %} {% if products.has_next %}-->
<!--      <a class="pagination-action" href="?page={{ products.next_page_number }}">-->
<!--      <i class="fa fa-angle-right" aria-hidden="true"></i>-->
<!--    </a>-->
<!--      <a class="pagination-action" href="?page={{ products.paginator.num_pages }}">-->
<!--      <i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
<!--    </a> {% endif %}-->
<!--  </ul>-->
<!--</nav>-->

 {% if products.has_other_pages %}
    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
  {% if products.has_previous %}
    <a class="pagination-action" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
     <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </a>
    <a class="pagination-action" href="?page={{ products.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
  {% endif %}

  {% for num in products.paginator.page_range %}

    {% if products.number == num %}
    <span class="pagination-number pagination-current">{{ num }}</span>
    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
    <a class="pagination-number" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
    {% endif %}

  {% endfor %}

  {% if products.has_next %}
    <a class="pagination-action" href="?page={{ products.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
    <a class="pagination-action" href="?page={{ products.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
  {% endif %}
    </ul>
    </nav>
    {% endif %}

{% endif %} {% endblock %}
