{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid bb-products-container">
<div class="row">
    {% if  product.product_set.all %}
     {% for product in product.product_set.all %}
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <a class="bb-product-link" style="text-decoration:none" href="{{ product.aw_deep_link }}" target="_blank">
        <div class="card text-center">
            <div class="bb-product-img-container">
                <img class="card-img-top" src="{{ product.aw_image_url }}">
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-12 bb-product-name">
                        <p class="bb-product-name-text">{{ product.product_name }}</p>
                    </div>
                    <div class="col-6 bb-search-price">
                        <p class="bb-search-price-text">€{{ product.search_price }}</p>
                    </div>
                    <div class="col-6 bb-rrp-price">
                        <p class="bb-rrp-price-text"><s> {{ product.rrp_price }}</s></p>
                    </div>
                    <div class="col-12 bb-merchant-name">
                        <p class="bb-merchant-name-text">{{ product.merchant_name}}</p>
                    </div>
                </div>
            </div>
        </a>  
        </div>
    </div>
     {% endfor %}
      {% endif %}
 </div>

</div>

<div class="text-center">
{% if products.has_other_pages %}
  <ul class="pagination">
    {% if products.has_previous %}
      <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>

{% endblock %}

